In [13]:
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta

In [14]:
# Current date
end_date = datetime.now()

# Start date set to 15 years before the end date
start_date = end_date - timedelta(days=365*15)  # Approximating 365 days per year

In [15]:
market_symbol = 'XU100.IS'
historical_data = yf.download(tickers=market_symbol, start=start_date, end=end_date)
market_data = pd.DataFrame(historical_data).reset_index()

[*********************100%%**********************]  1 of 1 completed

In [11]:
market_data.describe()

,Date,Open,High,Low,Close,Adj Close,Volume
count,3509,3509.000000,3509.000000,3509.000000,3509.000000,3509.000000,3.509000e+03
mean,2017-04-16 00:00:49.244799232,61098.651535,61563.547068,60538.566451,61034.986724,61034.986724,1.577457e+09
min,2010-04-21 00:00:00,1030.300049,1062.099976,985.400024,1034.400024,1034.400024,0.000000e+00
25%,2013-10-14 00:00:00,8512.599609,8533.500000,8438.799805,8488.000000,8488.000000,5.698240e+08
50%,2017-04-10 00:00:00,72935.703125,73629.796875,72320.703125,72943.500000,72943.500000,8.459142e+08
75%,2020-10-15 00:00:00,87917.398438,88548.203125,87245.000000,87765.398438,87765.398438,2.220438e+09
max,2024-04-19 00:00:00,124215.898438,124536.601562,122368.703125,123556.101562,123556.101562,9.457914e+09
std,NaN,37598.105461,37858.665144,37275.532605,37548.180632,37548.180632,1.503740e+09

In [16]:
usd_try_rate_symbol = 'USDTRY=X'
historical_data = yf.download(tickers=usd_try_rate_symbol, start=start_date, end=end_date)
usd_try_rate_data = pd.DataFrame(historical_data).reset_index()

[*********************100%%**********************]  1 of 1 completed

In [17]:
usd_try_rate_data.describe()

,Date,Open,High,Low,Close,Adj Close,Volume
count,3904,3904.000000,3904.000000,3904.000000,3904.000000,3904.000000,3904.0
mean,2016-10-24 20:53:21.639344384,6.396510,6.433733,6.368186,6.396711,6.396711,0.0
min,2009-04-27 00:00:00,1.393000,1.402800,1.386800,1.392900,1.392900,0.0
25%,2013-01-24 18:00:00,1.825672,1.835507,1.819225,1.825782,1.825782,0.0
50%,2016-10-24 12:00:00,3.087310,3.111015,3.080300,3.088750,3.088750,0.0
75%,2020-07-24 18:00:00,6.981775,7.005847,6.952610,6.980650,6.980650,0.0
max,2024-04-22 00:00:00,32.592701,33.735802,32.481819,32.563301,32.563301,0.0
std,NaN,7.234447,7.266625,7.211561,7.234430,7.234430,0.0

In [ ]:
gold_symbol = 'GC=F'
silver_symbol = 'SI=F'