In [8]:
import pandas as pd
import numpy as np
import yfinance as yf
import cvxpy as cp

import seaborn as sns
import matplotlib.pyplot as plt

from datetime import datetime, timedelta

In [9]:
# Current date
end_date = datetime.now()

# Start date set to 15 years before the end date
start_date = end_date - timedelta(days=365*15)  # Approximating 365 days per year

In [10]:
market_symbol = 'XU100.IS'
historical_data = yf.download(tickers=market_symbol, start=start_date, end=end_date)
market_data = pd.DataFrame(historical_data).reset_index()
market_data.describe()

[*********************100%%**********************]  1 of 1 completed

,Date,Open,High,Low,Close,Adj Close,Volume
count,3759,3759.000000,3759.000000,3759.000000,3759.000000,3759.000000,3.759000e+03
mean,2016-10-23 13:32:30.837989120,60097.081563,60561.922357,59538.728295,60039.266141,60039.266141,1.522211e+09
min,2009-05-04 00:00:00,1030.300049,1062.099976,985.400024,1034.400024,1034.400024,0.000000e+00
25%,2013-01-23 12:00:00,32047.899414,32732.299805,31849.600586,32186.899414,32186.899414,5.702105e+08
50%,2016-10-24 00:00:00,69663.601562,70489.500000,69184.601562,69689.203125,69689.203125,8.199550e+08
75%,2020-07-23 12:00:00,85841.300781,86445.101562,84985.050781,85787.148438,85787.148438,2.074783e+09
max,2024-04-29 00:00:00,124215.898438,124536.601562,122368.703125,123556.101562,123556.101562,9.457914e+09
std,NaN,36592.737911,36843.601205,36281.508264,36542.697541,36542.697541,1.470579e+09

In [11]:
market_symbol = 'XU100.IS' # redefine for to display all symbols at once
usd_try_rate_symbol = 'USDTRY=X'
gold_symbol = 'GC=F'
silver_symbol = 'SI=F'
# Defining portfolio components 
portfolio_items = [market_symbol, gold_symbol, silver_symbol, usd_try_rate_symbol]

[*********************100%%**********************]  1 of 1 completed

,Date,Open,High,Low,Close,Adj Close,Volume
count,3904,3904.000000,3904.000000,3904.000000,3904.000000,3904.000000,3904.0
mean,2016-10-31 21:11:26.065573888,6.436149,6.473406,6.407639,6.436313,6.436313,0.0
min,2009-05-04 00:00:00,1.393000,1.402800,1.386800,1.392900,1.392900,0.0
25%,2013-01-31 18:00:00,1.826800,1.837850,1.822000,1.827675,1.827675,0.0
50%,2016-10-31 12:00:00,3.108780,3.120345,3.100250,3.108805,3.108805,0.0
75%,2020-07-31 18:00:00,6.989620,7.050068,6.971230,6.989987,6.989987,0.0
max,2024-04-29 00:00:00,32.603668,33.735802,32.483898,32.603340,32.603340,0.0
std,NaN,7.292650,7.324571,7.269344,7.292501,7.292501,0.0

In [ ]:
def get_historical_data(portfolio_items: list[str]):
    pass

In [ ]:
def solve(ri_values: list[float]):
    # Example returns for each asset
    rs = np.array([0.05, 0.02, 0.01, 0.03, 0.04, 0.02])  # Substitute these with your calculated ri values

    # Define the decision variables
    x = cp.Variable(len(ri_values))

    # Define the constraints
    constraints = [
        cp.sum(x) == 1,  # Total investment equals 100% of the budget
        x >= 0.15,       # Minimum investment in any asset
        x <= 0.40,       # Maximum investment in any asset
        cp.sum(cp.pos(x)) >= 3  # At least three assets must be included
    ]

    # Define the objective function
    objective = cp.Maximize(rs @ x)

    # Define the problem and solve
    prob = cp.Problem(objective, constraints)
    result = prob.solve()

    # Output the optimal asset allocations
    print("Optimal asset allocations:", x.value)